{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
    <article class="archive-item">
        <div style="display: flex; align-items: baseline;">
            <span>
              <a class="archive_link" href="{{ post.url }}">{{post.title}}</a> <br />
            </span>
            <small style="font-size:0.7em; margin-left: 13px;"> 
              <!-- {{post.excerpt}} -->
              <i class="fas fa-fw fa-calendar-alt" style="color:#8f8f8f" aria-hidden="true"></i>
              {{ post.date | date: " %Y.%m.%d" }}
              {% if site.category_archive.type and post.categories[0] and site.tag_archive.type and post.tags[0] %}
                {%- include post__taxonomy.html -%}
              {% endif %}
            </small>
        </div>
      </article>
</div>